<main>
    <section class="section section-shaped mt-5">
        <div class="container pt-4">
            <ul class="favorite" >
                <li *ngFor="let product of products" >{{product.productName}} </li>
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
    </section>
</main>
