
<main class="form-signin">
  <section class="section section-shaped section-lg">
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <body class="text-center">
              <div class="card-body px-lg-5 py-lg-5">
              
                  <form role="form" [formGroup]="loginForm">
                    <h1 class="h3 mb-3 fw-normal">Giriş yap</h1>
                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                      <div class="form-floating input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span for="floatingInput" class="input-group-text"><i class="ni ni-hat-3"></i>E-posta</span>
                        </div>
                        <input
                        formControlName="email"
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        placeholder="name@example.com"
                        />
                      </div>
                    </div>



                    <div class="form-floating">
                      <input
                      formControlName="password"
                        type="password"
                        class="form-control"
                        id="floatingPassword"
                        placeholder="Password"
                      />
                      <label for="floatingPassword">Parola</label>
                    </div>
                    <div class="form-floating">
                      <input
                      formControlName="name"
                        type="text"
                        class="form-control"
                        id="floatingPassword"
                        placeholder="name"
                      />
                      <label for="floatingPassword">Name</label>
                    </div>
                    <div class="form-floating">
                      <input
                      formControlName="surname"
                        type="text"
                        class="form-control"
                        id="floatingInput"
                        placeholder="surname"
                      />
                      <label for="floatingPassword">Surname</label>
                    </div>
                    <div class="form-floating">
                      <input
                      formControlName="phone"
                        type="text"
                        class="form-control"
                        id="floatingInput"
                        placeholder="phone"
                      />
                      <label for="floatingPassword">Phone</label>
                    </div>

                    <div class="checkbox mb-3">
                      <label>
                        <input type="checkbox" value="remember-me" /> Remember me
                      </label>
                    </div>
                    <button  class="w-100 btn btn-lg btn-primary" (click)="login()">
                      Giriş yap
                    </button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
                  </form>
                
              </div>
            </body>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>