<main>
  <section class="section section-shaped section-lg">
     <div class="accordion-item">
   <h2 class="accordion-header" id="headingOne">
     <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       Settings
     </button>
   </h2>
   <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
     <div class="accordion-body">
        <strong>Settings burada olacak</strong> 
      </div>
    </div>
    </div>
  </section>  
</main>

