<div class="container">
  <div class="row">
    <main>
      <section class="section section-shaped section-lg ml-lg-auto ">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Operations</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/password']" class="dropdown-item">Password</a>
            <a [routerLink]="['/setting']" class="dropdown-item">Wallet</a>
            <a [routerLink]="['/setting']" class="dropdown-item">Orders</a>

          </div>
        </li>            
      </section>  
    </main>
  </div>
</div>





