
<main class="form-signin">
  <section class="section section-shaped section-lg">
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <body class="text-center">
              <div class="card-body px-lg-5 py-lg-5">
              
                  <form role="form" [formGroup]="loginForm">
                    <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>
                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                      <div class="form-floating input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span for="floatingInput" class="input-group-text"><i class="ni ni-hat-3"></i>E-posta</span>
                        </div>
                        <input
                        formControlName="email"
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        placeholder="name@example.com"
                        />
                      </div>
                    </div>

                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                      <div class="form-floating input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span for="floatingPassword" class="input-group-text"><i class="ni ni-hat-3"></i>Parola</span>
                        </div>
                        <input
                        formControlName="password"
                          type="password"
                          class="form-control"
                          id="floatingPassword"
                          placeholder="Password"
                        />
                      </div>
                    </div>

                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                      <div class="form-floating input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span for="floatingPassword" class="input-group-text"><i class="ni ni-hat-3"></i>Name</span>
                        </div>
                        <input
                        formControlName="name"
                          type="text"
                          class="form-control"
                          id="floatingPassword"
                          placeholder="name"
                        />
                      </div>
                    </div>
                
                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                      <div class="form-floating input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span for="floatingPassword" class="input-group-text"><i class="ni ni-hat-3"></i>Surname</span>
                        </div>
                        <input
                        formControlName="surname"
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="surname"
                        />
                      </div>
                    </div>
              
                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                      <div class="form-floating input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span for="floatingPassword" class="input-group-text"><i class="ni ni-hat-3"></i>Phone</span>
                        </div>

                        <input
                        formControlName="phone"
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder="phone"
                        />
                      </div>
                    </div>

                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id=" customCheckLogin" type="checkbox" value="remember-me">
                      <label class="custom-control-label" for=" customCheckLogin">
                        <span>Remember me</span>
                      </label>
                    </div>
                    <button  class="w-100 btn btn-lg btn-primary" (click)="login()">
                      Kayıt Ol
                    </button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
                  </form>
                
              </div>
            </body>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>